# R package check using Docker containers

os: linux
dist: bionic
sudo: required
services: docker

jobs:
  include:
    #- name: ci-r
    #  env: DOCKER_CNTR="tiledb/ci-r"
    - name: 1.7.7
      env: DOCKER_CNTR="eddelbuettel/rocker-tiledb:1.7.7"
    - name: 2.0.7
      env: DOCKER_CNTR="eddelbuettel/rocker-tiledb:2.0.7"
    - name: 2.0.8
      env: DOCKER_CNTR="eddelbuettel/rocker-tiledb:2.0.8"
    - name: dev
      env: DOCKER_CNTR="eddelbuettel/rocker-tiledb:dev"
    - name: dwnld
      env: DOCKER_CNTR="eddelbuettel/rocker-tiledb:dl"

env:
  global:
    - DOCKER_OPTS="--rm -ti -v $(pwd):/mnt -w /mnt"
      R_BLD_OPTS="--no-manual"
      R_CHK_OPTS="--no-manual"
      PKG_NAME=$(awk '/Package:/ {print $2}' DESCRIPTION)
      PKG_VER=$(awk '/Version:/ {print $2}' DESCRIPTION)
      PKG_TGZ="${PKG_NAME}_${PKG_VER}.tar.gz"

before_install:
  - docker pull ${DOCKER_CNTR}
  - docker run ${DOCKER_OPTS} ${DOCKER_CNTR} r -p -e 'sessionInfo()'

install:
  - docker run ${DOCKER_OPTS} ${DOCKER_CNTR} R CMD build ${R_BLD_OPTS} .

script:
  - docker run ${DOCKER_OPTS} ${DOCKER_CNTR} R CMD check ${R_CHK_OPTS} ${PKG_TGZ}

notifications:
  email:
    on_success: change
    on_failure: change
